[Unit]
Description=MaxLab Backend Services Target
Documentation=https://maxlab.chem.co.kr/docs
After=network.target

[Install]
WantedBy=multi-user.target